body{
  margin: 0;
text-align:center;
color: #40514E;

  font-family: 'Merriweather', serif ;
font-size: 200%;
}
h1 {
  font-family: 'Sacramento',cursive;
  margin: 50px  auto 0 auto ;
  font-size: 5.625rem; /* max size can be 16px at 100% so if want let say 90px
  then we 90/16 = 5.625 so we will use 5.625 rem * */
  color : #66BFBF;
    line-height: 2;
}
h2{
  font-family: 'Montserrat' , sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
  font-family: 'Montserrat' , sans-serif;
  color: #11999E;
}
hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
a{
  color: #11999E;
  font-family: 'Montserrat' , sans-serif;
  margin: 10px 20px;
  text-decoration: none;
font-weight: bolder;
}
a:hover{
  color: #EAF6F6;
}
.lasttext{
  color: #EAF6F6;
  padding: 20px 0;
  font-size: 0.75rem;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
 padding-top: 100px;
  /*border:solid 10px;*/
}
.middle-container{
background-color: #FEF5E;
  margin: 100px 0;/***** BY THIS TECHINIQUES IT MEANS THAT MARGIN IN TOP AND BOTTOM BOTH ARE 100PX AND LEFT AND RIGHT MARGIN AR BOTH 0PX
  SO WE CAN USE THESE TECHNIQUE****/
}
.skill-row{
  width: 50%;
  margin: 100px auto 100px auto ;
  text-align: left;
  line-height: 2;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 60px 0 20px 0;
}
.web{
  text-decoration: underline;
}
.top-cloud{
  position :absolute;
  right: 350px;
  top : 50px;
}
.bottom-cloud{
  position :absolute;
  left: 350px;
  bottom: 250px;
}
.profile{

  position: relative;
}
.profimg{
  border-radius: 50% ;
  height: 150px;
  width : 150px;
}
.mission{
  width: 30%;
  margin: auto;
}
.skillimg{
  border-radius: 50% ;

  width : 25%;
  float: left;
  /*padding: 20px; or we can do by using margin right for distance between image and written form*/
  margin-right: 30px;
}
.skimg{
  border-radius: 50% ;
  /*height: 300px;*/
  width : 25%;
  float: right;
  margin-left: 30px;
}
.footer-link{
  color: #11999E;
}
p{
  line-height: 2;
}
.contact-message{
  width: 30%;
  margin : 40px auto 60px;
}
/*
***** HOW TO USE CLEAR PROPERTY AND WHAT WILL HAPPEN AFTER USING CLEAR PROPERTY ON THE DEFINED CLASSES*****
.wrapdown{
  clear: left;
}
.wrapright{
  clear: right;
}*/

.btn {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Montserrat' , sans-serif;
   font-size: 20px;

   padding: 10px 20px 10px 20px ;

   text-decoration:  none;
}

.btn:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);

   text-decoration: none;
}
